# @package _global_

defaults:
  - /model/mlp_small_score
  - /model/forcefields/mueller_brown

ranged_models:
  - _target_: scoremd.models.RangedModel
    model: ${model.mlp_small_score}
    range: [1.0, 0.1]
  - _target_: scoremd.models.RangedModel
    model: ${model.forcefields.mueller_brown}
    range: [0.1, 0]
